$beige-clair:#fafafa;
$gris: #aaa;
$gris-sombre: #7f7751;
$orange: #f7931e;
$mada: 'Mada', sans-serif;
$oswald:  'Oswald',sans-serif;

body{
  font-family: $mada;
  color:$gris;
  background-color: $beige-clair;
  margin: 0;
  padding-bottom:3em;
  font-size: 20px;
}
a{
  /*Les liens de tout lke site*/
  text-decoration: none;
  color:$gris;
}
a:hover{
  /*lien au survol*/
  color: $orange;
}
.logo-rezo{
  /*calage à droite des 2 logos vers les rézosocios*/
  text-align:right;
  margin-bottom: -0.4em;
  min-height:20px;
}
.header-important{
  background-color:#fff;
  width:100%;
}
.header-important-fixe{
  position:fixed;
  top:0;
  z-index:10;
  h1{
    font-size: 1.5em;
  }
}
.header-important-fixe .header-important-fixe h2{
  display:none;
}
header{

  h1{
    /*le titre principal en haut de la page
    > veut dire directement sous la classe entete
    */
    text-align: center;
    margin:0;
    padding:0;
    color:$gris-sombre;
    font-weight: 400;
    font-size:2.2em;
    margin-bottom:-0.2em;

  }
  h1>a{
    color:$gris-sombre;
  }
  a{
    color:$gris;
  }
  a:hover{
    color: $orange;
  }
  h2{
    /*
    un <h2> directement sous l'élément dont class = entete
    */
    text-align: center;
    margin:0;
    padding:0;
    color:$gris-sombre;
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 0;
    text-align:center;
  }
}
footer{
  margin:3em 8% 0;
  p{
    margin:0;
    text-align: center;
  }
  p:last-child{
    font-size:smaller;
  }
}

.ombre{
  background-color: white;
  box-shadow: 0 2px 4px -2px rgba(120,120,120,.4);
}
nav{
  /*
  la navigation
  */
  display:flex;
  font-size:.7em;
  margin: 0 15%;/*centrer*/
  margin-top:1em;/*décoller du titre*/
  justify-content: space-around;
  background-color: #fff;
  text-transform: uppercase;
}

nav{
  #accueil{
    background: center / contain no-repeat url("../images/accueil.png");
    span{
      visibility:hidden;
    }
  }
  div{
    position: relative;
    ul{
      display: none;
      position: absolute;
      z-index:10;
      background-color: #fff;
      border-bottom-right-radius: 4px;
      list-style-type: none;
      padding: 0 10px;
      margin-top:0;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
      box-shadow: 4px 8px 5px rgba(0, 0, 0, .5);
      left:1.5em;
      li{
        padding:5px 0;
      }
  }
  div:hover>ul{display:block}
}
}

.bouton-menu{display: none}

.bandeau{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url("../images/bandeau.jpg");
  height:450px;
  overflow: hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  h1{
    color:#fff;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: $oswald;
  }
}
.pano{
  position:relative;
  h1{
    color: white;
    position: absolute;
    text-align: center;
    width:100%;
    margin-top:15%;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: $oswald;
    top: 0;
  }
  img{width:100%}
}

.bandeau-caroussel{height:auto;}

main{
  margin: 0 5%;
  h1{
    text-align: center;
    font-weight: 200;/*dépend de la police utilisée*/
    font-size: 1.9em;
    /*! margin-bottom: 0; */
  }
}
.grille{
  /*une grille de 3 colonnes*/
  display:grid;
  grid-template-columns: 313px 313px 313px;
  justify-content: space-around;
  div{
    margin-bottom:1em;
  }
}
.article-actu,.article-spage{margin:0 4%}
.voir-actus{
  background-image: url("../images/fleche.png");
  background-position: 50% 10%;
  background-repeat: no-repeat;
  height:1.25em;
  padding-top:1em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}
.actu{
  background-color: #bfb9a3;
  /*! margin: 0 17%; */
  position: relative;
  height: 350px;
  margin-bottom: 20px;
  width: 313px;
}
.chapeau-actu{

 position: absolute;
 height: 350px;
 top: 0;
 background-color: inherit;
  h1{
    color:#fff;
    margin:0;
  }
  p{
    color:#000;
    text-align: justify;
    padding:0 10px;
    font-size:.8em
  }
  a:hover{color:#000;}
}
.chapeau-actu>.date-crea{
  text-align: center;
  margin:0;
  margin-bottom: 10px;
  font-weight: 200;
}
.chapeau-actu>.lire-suite{
  right:0;
  bottom:-10px;
  position:absolute;
}
.chapeau-actu>.lire-suite >a{
  color: #000;
  text-decoration: underline;
}
.visuel-actu{
  position:absolute;
  z-index:2;
}
.actu:hover>.visuel-actu{
  visibility: hidden;
}
/* la date d'une actualité*/
.date-crea{text-align: center;margin: 0;/*! padding: 0; */}

/*GALERIE CAROUSEL DANS UN 'MODAL'*/
.modal-galerie{display:none;}
.open-caroussel-info{
  display:none;
  position:fixed;
  top:75px;
  left:88px;
  z-index:15000;
  font-size:0.7em;
  font-weight:400;
  width:170px!important;
}
.close-modal-caroussel-info{
  position:fixed;
  top:90px;
}
.caroussel-info{
  display:none;
  position:fixed;
  width: 40%;
  z-index:10000;
  background-color:rgba(250, 250, 250,.6);
  padding:1em;
  top:80px;
  left:88px;
  color:#000;
}
/*LE MODAL CONTENANT LE CAROUSSEL DE GALERIE*/
.modal{
  max-width:100% !important;
  background-color: #000!important;
  top:30px!important;

}
/* PASSER LE MODAL AU-DESSUS LE LA NAVIGATION*/
.blocker{
  z-index:11!important;
}
/*CAROUSSEL PLEINE PAGE*/
.caroussel{
  img{margin:0 auto}
  .description{text-align:center}
}
/*conteneur pour une page de texte simple*/
.page{
  margin: 0 5%;
}
.page >h1{
  text-align: left;
  font-weight: 200;/*dépend de la police utilisée*/
  font-size:2em;
}
.page >h2{
  text-align: left;
  font-weight: 300;/*dépend de la police utilisée*/
  font-size:1.6em;
}
.page >p{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/*
positionner à droite une image flottante
*/
.img-droite{
  float:right;
  margin-right: 1em;
  margin-bottom: 20%;
}
/*
positionner à gauche une image flottante
*/

.img-gauche{
  float:left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.stop-float{
  clear: both;
}

/*FORMULAIRE*/

form{
  label{
  display:block;
  width:20%;
  float:left;
  }
  input[type='text'], form input[type='email'], form textarea{
    width: 35%;
  }
  .helptext{
    display:block;
    font-size: smaller;
    padding-left:20%;
  }
  p:last-child{
    text-align:right;
  }
}
p.required:before{
  content : '*';
  color: red;
}

/* format de bouton qu'il soit INPUT ou A*/
.bouton{
  border: thin solid $orange;
  padding:.2em;
  color: $orange;
  width: 140px;
  font-family: $oswald;
  font-weight:700;
  background-color:#fff;
  cursor: pointer;
  text-align:center;
}
.bouton:hover{
  background-color: $orange;
  color:#fff;
}
