/* latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Mada ExtraLight'), local('Mada-ExtraLight'), url(../fonts/mada-extra-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Mada Light'), local('Mada-Light'), url(../fonts/mada-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Mada Regular'), local('Mada-Regular'), url(../fonts/mada-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Mada Medium'), local('Mada-Medium'), url(../fonts/mada-medium.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Mada SemiBold'), local('Mada-SemiBold'), url(../fonts/mada-semibold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Mada Bold'), local('Mada-Bold'), url(../fonts/mada-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Mada Black'), local('Mada-Black'), url(../fonts/mada-black.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
