{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block body %}
  <div class="galerie">
  {% for visuel in this.children %}
    <div class="visuel">
    {% set image = visuel.attachments.images.first() %}
    {% if image %}
      <img src="{{ image.thumbnail(320)|url  }}" alt="">
    {% endif %}
    </div>
  {% endfor %}
  </div>
{% endblock %}
