<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{%block titre_head%}{{site.name}}{%endblock%}</title>
    <link href="https://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900|Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/oliviadupre.css">
    {%block extra_css%}{%endblock%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {%block extra_js%}{%endblock%}
  </head>
  <body>
    {%block header%}
    <header>
      <div class="header-important">
        <div class="logo-rezo">
          {%for (k, v) in bag('rezos-nav').items()%}
          <a href="{{v.href}}"><img src="{{v.icon}}" alt="{{k}}" height="25px"></a>
          {%endfor%}
        </div>
        <h1>
        <a href="/">
          Olivia Dupré Créations
        </a>
        </h1>
        <h2>Objets en vitrail</h2>
        <nav>
          <div><a id="accueil" href="/"><span>accueil</span></a></div>
        {% set root = site.get('/') %}
        {% for child in root.children.order_by('ordre') recursive %}
        <div><a href="{{ child|url  }}">{{child.title}}</a></div>
        {% endfor %}
        </nav>
      </div>
      {%block bandeau%} <div class="bandeau">
        <h1>{%block titre%}{%endblock%}</h1>
      </div> {%endblock%}
    </header>
    {%endblock%}
    <main>
      {%block contenu%}{%endblock%}
    </main>
    {%block footer%}
    <footer>
      <p><img height="50px" src="/images/logo artisan art.jpg" alt="logo-olivia-dupre-creations"></p>
      <p>Olivia Dupré Créations - 38 rue Pelleport Bordeaux 33800</p>
      <p>
      <a href="/mentions-legales">Mentions légales</a>
      </p>
    </footer>
    {%endblock%}
  </body>
</html>
